{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <title>Mi app</title>
</head>
<body>
    <div class="container" style="text-align: center; width: 60%; margin: auto;">
        <h1>Algoritmos Avanzados</h1>
        <h2>Universidad Nacional de San Antonio Abad del Cusco</h2>
        <h2>Ingeniería Informática y de Sistemas</h2>
        <h2>2021 - I</h2>
        <h2>Diagramas de Voronoi y Dijkstra Para Busqueda De Rutas Óptimas Para El Transporte De Mercancías En La Ciudad De Cusco<br><br></h2>
        <p>H. M. Johan Wilfredo, S. C. David, U. A. Isac Anderson, G. H. Nelson, H. M. Elvis Jorge</p> <br>
        <a href="/almacenes/" style="color:#680D0F; font-size: 1.5em;">INICIAR</a>
    </div>
</body>
</html>