{% extends 'app/base.html' %}
{% load static %}


{% block extend_head %}
    <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
    <link rel="stylesheet" type="text/css" href="../../static/app/style.css">
    <title>Resultado</title>
{% endblock %}

{% block extend_nav %} 
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="col col_titulo">
            <h1 class="">Ruta</h1>
        </div>
        <div class="col-auto" id="ruta_name">
            <select name="selectRuta" id="selectRuta" class="form-select">
                
            </select>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="map-container">
            <div id="map-markers">
                
            </div>
         </div>
    </div>
{% endblock %}


{% block extend_footer %}
    <script type="text/javascript">
        // resaltar boton
        var boton = document.getElementById("aResultado")
        boton.classList.add("seleccionado")

        // Boton borrar
        document.getElementById("aBasurero").setAttribute("href", "{% url 'app:delresultado' %}")

        // variables serializadas
        var google_api_key = "{{google_api_key|safe}}";
        var ser = "{{ ser|escapejs }}";
        var almSer = "{{ almSer|escapejs }}";
        var tieSer = "{{ tieSer|escapejs }}";
        var rutasSer = "{{ rutasSer|escapejs }}";
    </script>
    <script src="{% static 'google_maps_resultados.js' %}"></script>
{% endblock %}